/* ================= */
/*  IMPORTED FONTS   */
/* ================= */
@import url('https://fonts.googleapis.com/css?family=Almendra|Josefin+Slab|Sacramento&display=swap');


/* ================= */
/*     VARIABLES     */
/* ================= */
:root {
  /* fonts */
  --title-font: 'Almendra', serif;
  --main-font: 'Josefin Slab', serif;
  --accent-font: 'Sacramento', cursive;
  /* colors */
  --dark-gray: #4d4d4d;
  --light-gray: #DFDDD9;
  --moss: #708C82;
  --forest: #43593F;
  --hunter: #58734C;
  --foggy: #bcc8c4;
  --golden: #c9ad10;
  --darker-gold: #ac9410;
  --butter: #ffed8b;

}

/* ================= */
/*      GENERAL      */
/* ================= */

/* * {
	border: 1px solid gold;
} */

body {
  background: whitesmoke;
  font-family: var(--main-font);
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
	font-family: var(--title-font);
    color: var(--golden);
	text-align: center;
	font-size: 60px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* h1:hover {
	text-shadow: 2px 2px 2px whitesmoke;
} */

header {
	background: var(--forest);
	color: var(--golden);
	padding: 15px;
	margin: 0 auto;
	z-index: 2;
}

nav {
	font-family: var(--header-font);
	font-size: 25px;
	background: var(--moss);
	color: whitesmoke;
	border-top: 3px solid var(--darker-gold);
	border-bottom: 1px solid var(--hunter);
	box-shadow: 5px 5px 5px var(--dark-gray);
	padding: 5px;
	margin: 0 auto;

}

ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

li {
	margin: 5px auto;
	text-align: center;
	width: 30%;
	align-content: center;

}

li:first-of-type {
	margin-left: -30px;
}

li:hover, a:hover {
	text-shadow: 2px 2px 2px var(--darker-gold);
	cursor: pointer;
}

button {
	font-family: var(--main-font);
}

button:hover {
	box-shadow: 2px 2px 2px var(--darker-gold);
	cursor: pointer;
}

main {
	min-height: calc(100vh - 400px);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

footer {
	font-family: var(--main-font);
	font-size: 20px;
	background: var(--forest);
	color: var(--golden);
	padding: 8px 0px;
	margin: 0 auto;
	border: 1px solid var(--forest);
	margin-top: -1px;
}

footer a {
	text-decoration: none;
	color: whitesmoke;
}
/* ================= */
/*   Auth / UnAuth   */
/* ================= */

#unauth-buttons {
  /* display: none; */
}

#auth-buttons {
	/* display: none; */
}

#login-button {
	background-color: var(--forest);
	position: absolute;
    top: 0;
    right: 100px;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 4px;
}

#signup-button {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: var(--forest);
    border-radius: 4px;
}

#view-stats {
	background-color: var(--forest);
	position: absolute;
    top: 0;
    right: 100px;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 4px;
}

#logout {
	background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 12px;
    padding: 8px;
    font-size: 20px;
    color: var(--forest);
    border-radius: 4px;
}

/* ================= */
/*     FORMS         */
/* ================= */

form {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: right;
}

label {
  margin-right: 50px;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: var(--darker-gold);
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  border: 1px solid var(--darker-gold);
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 50px;
  min-width: 150px;

}

input[type="submit"], .form-submit-button {
	color: var(--darker-gold);
    font-family: var(--main-font);
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid var(--darker-gold);
    padding: 10px;
}

input[type="submit"]:hover, .form-submit-button:hover {
	box-shadow: 2px 2px 2px var(--darker-gold);
    cursor: pointer;
}

/* ================= */
/*   PLAYER CARDS    */
/* ================= */

.player-cards {
	background: var(--foggy);
	padding: 0px auto;
	z-index: -5;
	border: 1px solid var(--hunter);
	min-width: 200px;
}

.player-turn {
	background: var(--butter);
	padding: 0px auto;
	z-index: -5;
	border: 1px solid var(--golden);
	min-width: 200px;
}


.player-cards h3 {
	font-family: var(--accent-font);
	font-size: 30px;
}

.player-turn h3 {
	font-family: var(--accent-font);
	font-size: 35px;
}


.current-score h4 {
	font-family: var(--main-font);
	font-size: 30px;
}

.crown img {
	width: 50px;
}
/* ================= */
/*   GAME BOARD      */
/* ================= */

#game-board {

}

#game-board h2 {
	color: var(--darker-gold);
	font-family: var(--title-font);
	font-size: 30px;
}

.king-card {
	border-radius: 7px;
	background: var(--butter);
	border: 2px solid var(--darker-gold);
	width: 180px;
	padding: 15px;
	margin: 5px;
	border: 2px solid var(--golden);
	box-shadow: 5px 5px 5px var(--dark-gray);
}

.hand-card {
	border-radius: 7px;
	background: var(--butter);
	border: 2px solid var(--darker-gold);
	width: 120px;
	padding: 15px;
	margin: 5px;
	border: 2px solid var(--golden);
	box-shadow: 5px 5px 5px var(--dark-gray);
}

#player-prompt p {
	color: black;
	font-size: 20px;
}

#all-cards {

}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
/* ================= */
/*  SHUFFLE DECK     */
/* ================= */

.shuffle-move {
  transition: transform 1s;
}

/* ================= */
/*  CARD FLIP        */
/* ================= */
.card {
	border-radius: 7px;
	background: white;
	border: 2px solid var(--darker-gold);
	width: 150px;
	height: 220px;
	padding: 15px;
	margin: 10px;
	border: 2px solid var(--golden);
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--dark-gray);
  }

.flip-enter-active {
  transition: all 0.4s ease;
}

.flip-leave-active {
  display: none;
}

.flip-enter, .flip-leave {
  transform: rotateY(180deg);
  opacity: 0;
}
/* ================= */
/*  VUE MODEL        */
/* ================= */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 60px;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 2px solid var(--darker-gold);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: var(--darker-gold);
  font-family: var(--main-font);
  font-size: 40px;
}

.modal-body p {
	text-align: left;
	font-family: var(--main-font);
	font-size: 20px;
	line-height: 30px;
}

.modal-body a {
	color: var(--hunter);
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  color: var(--darker-gold);
  font-family: var(--main-font);
  font-size: 20px;
  border-radius: 4px;
  border: 2px solid var(--darker-gold);
  padding: 10px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
